@import 'src/_custom-variables.scss'


.loading-container
  height: 300px
  width: 100%
  justify-content: space-evenly
  flex-direction: column
  display: flex
  margin: 0 auto
  align-items: center
  i
    font-size: 6rem
    color: $flame
  span
    color: $flame
    font-size: 1.5rem
.card
  width: 80%
  margin: 1rem auto
  display: flex
  flex-direction: column
  background-color: $lavender-blush
  border-radius: 5px
  box-shadow: rgb(69, 2, 95) 0px 20px 30px -10px
  border: none
  .cliente-infos
    display: flex
    justify-content: space-between
    p
      margin-top: 1rem
      font-weight: 500
      font-size: 1.1rem
      background-color: #eeeeee6c
      border-bottom-right-radius: 5px
      border-top-right-radius: 5px
      color: $raisin-black
      &:first-of-type
        width: 65%
      &:last-of-type
        width: 30%
    span
      color: $hunyadi-yellow
      padding: .3rem
      border-radius: 5px
      font-weight: 500
      background-color: $dark-purple
  .card-body
    .card-title
      background-color: $dark-purple
      border-radius: 5px
      display: flex
      color: $hunyadi-yellow
      padding: .5rem
      align-items: center
      .cliente-actions
        margin-left: auto
        width: 15%
        display: flex
        justify-content: space-around
        align-items: center
        button
          background-color: transparent
          border: none
          transition: .1s
          width: 100%
          border-radius: 50%
          color: $hunyadi-yellow
          &:hover
            transition: .2s ease-out
            i
              color: $flame
              text-shadow: 0px 0px 10px rgb(238, 86, 34)
          i
            transition: .1s ease-in
            font-size: 1.5rem
    .obra-toggle
      background-color: $dark-purple
      height: 60px
      width: 30%
      margin: .5rem auto
      border-radius: 5px
      transition: .2s
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px
      &:hover
        transition: .2s
        background-color: #eeeeee6c
        button
          color: $flame
          i
            color: $raisin-black
      button
        border: none
        width: 100%
        align-items: center
        display: flex
        padding: .5rem 0
        line-height: 15px
        flex-direction: column
        background-color: transparent
        margin: 0 auto
        color: $hunyadi-yellow
        i
          color: $flame
        font-weight: bold
  .obra-container
    display: flex
    flex-wrap: wrap
    .card
      width: 45%
      background-color: white
      box-shadow: rgb(69, 2, 95) 0px 20px 30px -10px
      .card-body
        .card-title
          background-color: $flame
          color: $raisin-black
        .card-text
          color: $raisin-black
          font-weight: 500
          background-color: #eeeeee6c
          border-top-right-radius: 5px
          border-bottom-right-radius: 5px
          span
            color: $dark-purple
            font-weight: 500
            background-color: $dark-purple
            padding: .3rem
            border-radius: 5px
            color: $hunyadi-yellow
          .nullDate
            font-weight: 400
      .obra-actions
        width: 40%
        display: flex
        margin: 0 auto
        justify-content: space-around
        background-color: $dark-purple
        border-radius: 5px
        overflow: hidden
        button
          border: none
          background-color: transparent
          width: 100%
          transition: .2s ease-in
          &:hover
            transition: .2s ease-out
            i
              color: $flame
              text-shadow: 0px 0px 10px rgb(238, 86, 34)
          i
            transition: .1s ease-in
            font-size: 1.5rem
            color: $hunyadi-yellow
::-webkit-scrollbar
  width: 10px

