<div *ngIf="clientes.length > 0" class="cliente-container">
  <div *ngFor="let cliente of clientes; let i = index" class="card">
    <div class="card-body">
      <div class="card-top">
        <h5 class="card-header">
          {{ cliente.name }}
        </h5>
        <div class="dropdown">
          <button type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-three-dots-vertical"></i>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item edit-btn" (click)="onEdit(cliente)"><i class="bi bi-pencil"></i>Editar</a></li>
            <li><a class="dropdown-item remove-btn" (click)="removeCliente(cliente)"><i class="bi bi-trash"></i>Excluir</a></li>
          </ul>
        </div>
      </div>
      <div class="cliente-infos">
        <p>
          <span>Endereço</span>
          {{ cliente.address }}
        </p>
        <p>
          <span>Contato</span>
          {{ cliente.number }}
        </p>
      </div>

        <button
          [@fadeInOut]="cliente.showWorks ? 'in' : 'out'"
          (click)="toggleObras(cliente)"
        >
          Obras ({{ cliente.works.length }})
          <i class="bi bi-caret-{{ cliente.arrowDirection }}-fill"></i>

        </button>
      <div
        class="obra-container"
        *ngIf="cliente.showWorks"
        [@fadeInOut]="cliente.showWorks ? 'in' : 'out'"
      >
        <div class="card obra" *ngFor="let obra of cliente.works">
          <div class="card-body">
            <div class="card-top">
            <h5 class="card-header">
              {{ obra.name }}
            </h5>
            <div class="dropdown">
              <button type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item edit-btn"><i class="bi bi-pencil"></i>Editar</a></li>
                <li><a class="dropdown-item remove-btn"><i class="bi bi-trash"></i>Excluir</a></li>
              </ul>
            </div>
          </div>

            <p class="card-text">
              <span>Endereço</span>
              {{ obra.address }}
            </p>
            <p class="card-text">
              <span>Tipo de serviço</span>
              {{ obra.serviceType }}
            </p>
            <p class="card-text">
              <span>Data de início</span>
              {{ obra.initialDate | date : "dd/MM/yyyy" }}
            </p>
            <p class="card-text">
              <span>Data de término</span>
              {{ obra.finishDate | date : "dd/MM/yyyy" }}
              <span class="nullDate" *ngIf="obra.finishDate === null"
                >A definir</span
              >
            </p>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="clientes.length === 0" class="loading-container">
  <i class="bi bi-emoji-frown"></i>
  <span>Não tem nada aqui, cadastre um cliente.</span>
</div>
