@import 'src/_custom-variables.scss'

.cliente-container
  display: flex
  width: 100%
  margin-top: 1rem
  align-items: flex-start
  flex-wrap: wrap
  justify-content: space-between
  margin: 0 auto

.card
  width: 49%
  display: flex
  margin-bottom: 1rem
  flex-direction: column
  background-color: white
  border-radius: 2px
  border-left: 3px solid $flame
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px
  .cliente-infos
    display: flex
    flex-direction: column

    p
      font-weight: 400
      font-size: 1.1rem
      background-color: $raisin-black
      color: white
      border-radius: 2px
      padding: .3rem
      &:first-of-type
        width: 100%
      &:last-of-type
        width: 55%
    span
      color: $hunyadi-yellow
      border-right: 2px solid $hunyadi-yellow
      padding-right: .4rem
      font-weight: 500
  .card-body
    .card-top
      display: flex
      align-items: center
      justify-content: space-between
      button
        border: none
        background-color: transparent
        i
          font-size: 1.5rem
          padding: .4rem

      .dropdown
        .dropdown-menu
          min-width: 20vh
          border-radius: 2px
          .edit-btn
            &:hover
              background-color: $hunyadi-yellow
              outline: 1px solid $raisin-black
              transition: .1s ease-in-out
          .remove-btn
            &:hover
              background-color: #ff4343
              transition: .1s ease-in-out
              outline: 1px solid $raisin-black
          .dropdown-item
            display: flex
            align-items: center
            font-weight: 500
            font-size: .9rem
            justify-content: space-evenly
            transition: .1s ease-in-out
            cursor: pointer
            i
              font-size: 1.2rem
              padding: .3rem

    .card-header
      background-color: transparent
      border-radius: 2px
      padding-left: 0
      border-bottom-color: $flame
      display: flex
      color: $flame
      width: 95%
      align-items: center


    button
      border: 1px solid #94681d
      padding: .5rem
      display: flex
      align-items: center
      background-color: $hunyadi-yellow
      justify-content: center
      margin: 0 auto
      border-radius: 2px
      color: $raisin-black
      i
        color: $raisin-black
        margin-left: .3rem
      font-weight: bold
  .obra-container
    display: flex
    flex-wrap: wrap
    .card
      width: 100%
      margin: 1rem auto
      background-color: #cecece
      box-shadow: none
      border: none

      .card-body
        .card-header
          color: $flame
          margin-bottom: 1rem
        .card-text
          color: white
          font-weight: 400
          background-color: $raisin-black
          border-radius: 2px
          padding: .2rem
          span
            font-weight: 500
            color: $flame
            border-right: 2px solid $flame
            padding-right: .2rem
          .nullDate
            font-weight: 400
      .obra-actions
        width: 40%
        display: flex
        margin: 0 auto
        justify-content: space-around
        background-color: $dark-purple
        border-radius: 5px
        overflow: hidden
        button
          border: none
          background-color: transparent
          width: 100%
          transition: .2s ease-in
          &:hover
            transition: .2s ease-out
            i
              color: $flame
              text-shadow: 0px 0px 10px rgb(238, 86, 34)
          i
            transition: .1s ease-in
            font-size: 1.5rem
            color: $hunyadi-yellow
::-webkit-scrollbar
  width: 10px



