@import '/src/_custom-variables.scss'

.card
  width: 50%
  margin: 0 auto
  margin-top: 2rem
  border: 2px solid $hunyadi-yellow
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px

  .card-body
    display: flex
    flex-direction: row
    justify-content: space-evenly
  .search
    width: 40%
    display: flex
    justify-content: center
    align-items: center
    input
      border: 1px solid $dark-purple
      &:focus
        border-color: $flame
        box-shadow: 0 0 0 0.2rem rgba(238, 86, 34, 0.5)
        outline: 0
    i
      font-size: 1.5rem
      margin-right: .8rem
      color: $flame
  .filter
    width: 30%
    display: flex
    align-items: center
    justify-content: center
    select
      border: 1px solid $dark-purple
      &:focus
        border-color: $flame
        box-shadow: 0 0 0 0.2rem rgba(238, 86, 34, 0.5)
        outline: 0
    i
      font-size: 1.8rem
      margin-right: .8rem
      color: $flame
  .add-button
    display: flex
    width: 20%
    align-items: center
    justify-content: center
    button
      border-radius: 5px
      border: none
      height: 100%
      width: 33%
      background-color: $flame
      transition: .1s
      &:hover
        background-color: $dark-purple
        transition: .1s
        i
          color: $flame
      i
        font-size: 1.5rem
