@import '/src/_custom-variables.scss'
.estoque-container
  background-color: white
  width: 95%
  margin: 0 auto
.card
  width: 100%
  padding: 1rem
  margin: 0 auto
  margin-top: 2rem
  background-color: transparent
  border-radius: 2px
  border: none
  .card-header
    width: 100%
    margin-bottom: 1rem
    border-bottom-color: $vid-blue
    border-bottom-width: 2px
    color: $vid-blue
    font-weight: 500
    font-size: 1.4rem
    background-color: transparent
  .card-body
    display: flex
    flex-direction: row
    padding: 0
  .search
    width: 35%
    display: flex
    justify-content: center
    align-items: center
    input
      border: 1px solid $raisin-black
      border-radius: 2px
      background-color: #efefef
      width: 85%
      height: 100%
      &:focus
        border-color: $flame
        box-shadow: none
    i
      font-size: 1.5rem
      margin-right: .3rem
      width: 15%
      text-align: center
      color: $raisin-black
      background-color: $flame
      padding: .4rem
      border: 1px solid #a03917
  .filter
    width: 20%
    display: flex
    align-items: center
    justify-content: center
    select
      border: 1px solid $raisin-black
      width: 70%
      height: 100%
      background-color: #efefef
      border-radius: 2px
      &:focus
        border-color: $flame
        outline: 0
        box-shadow: none
    i
      font-size: 1.5rem
      margin-right: .3rem
      margin-left: 1rem
      width: 30%
      text-align: center
      color: $raisin-black
      background-color: $hunyadi-yellow
      border: 1px solid #94681d
      padding: .4rem
  button
    border-radius: 2px
    border: 1px solid #266d96
    background-color: $vid-blue
    transition: .1s
    margin-left: 1rem
    &:hover
      background-color: #184763
      transition: .1s
      border-color: #3cadee
      i
        color: #fff
    i
      font-size: 1.5rem
      padding: .4rem
