<div class="estoque-container">
  <div class="card">
    <div class="card-body">
      <div class="search">
        <i class="bi bi-search"></i>
        <input type="text" #searchTerm class="form-control" id="floatingInput" (keyup)="onSearch(searchTerm.value)" placeholder="Pesquisar">
      </div>
      <div class="filter">
        <i class="bi bi-filter"></i>
        <select class="form-select" #filterType (change)="filterByTypeAndSearch(filterType.value, searchTerm.value)" aria-label="Default select example">
          <option value="Todos" selected>Todos</option>
          <option value="Marmoraria">Marmoraria</option>
          <option value="Vidraçaria">Vidraçaria</option>
        </select>
      </div>
        <button (click)="addItem()"><i class="bi bi-plus-lg"></i></button>
    </div>
  </div>
  <router-outlet></router-outlet>
  <app-tabela-estoque
    *ngIf="itens$ | async as itens; else loading"
    [itens]="itens"
    (add)="onAdd()"
    [onAddState]="onAddState"
    (changeItemAmount)="onChangeItemAmount($event)"
    (remove)="onRemove($event)"
    (edit)="onEdit($event)"
  ></app-tabela-estoque>
  <ng-template #loading>

  </ng-template>

</div>



