<div class="side-tab-container">
  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <i class="bi bi-plus-lg"></i>
      Novo
    </button>
    <ul class="dropdown-menu">
      <li>
        <a class="dropdown-item" href="#">
          <i class="bi bi-plus-lg plus"></i>
          Orçamento
          <i class="bi bi-collection"></i>
        </a>
      </li>
      <li>
        <a class="dropdown-item" routerLink="/estoque/new">
          <i class="bi bi-plus-lg plus"></i>
          Item de Estoque
          <i class="bi bi-box"></i>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href="#">
          <i class="bi bi-plus-lg plus"></i>
          Cliente
          <i class="bi bi-people"></i>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href="#">
          <i class="bi bi-plus-lg plus"></i>
          Obra
          <i class="bi bi-bricks"></i>
        </a>
      </li>

    </ul>
  </div>

  <div class="fast-infos">
    <div class="card to-do">
        <h6>Tarefas</h6>
    </div>
    <div class="card prox-obras">
      <h6>Próximas Obras</h6>
    </div>
  </div>
</div>
