<div class="obras-container">
  <h5 class="card-title">
    Todas as obras.
    <button><i class="bi bi-search"></i></button>
  </h5>
  <div *ngFor="let obra of obras" class="card obra">
    <div class="card-body">
      <h5 class="card-title">
        {{obra.name}}
      </h5>
      <div class="obras-info">
    <p><span>Endereço</span>{{ obra.address }}</p>
    <p><span>Cliente</span>{{ obra.cliente.name }}</p>
    <p><span>Tipo</span>{{ obra.serviceType }}</p>
    <p><span>Data de Início</span>{{ obra.initialDate | date:'dd/MM/yyyy'}}</p>
    <p><span>Data de Término</span>{{ obra.finishDate | date:'dd/MM/yyyy'}}</p>
  </div>
  </div>
  </div>
</div>
