<div class="clientes-container">
  <div class="card">
    <div class="card-body">
      <div class="search">
        <i class="bi bi-search"></i>
        <input type="text" #searchTerm class="form-control" id="floatingInput" placeholder="Pesquisar">
      </div>
      <div class="add-button">
        <button (click)="onAdd()"><i class="bi bi-plus-lg"></i></button>
      </div>
    </div>
  </div>
  <app-lista-clientes
  *ngIf="clientes$ | async as clientes; else loading"
  [clientes]="clientes"
></app-lista-clientes>
<ng-template #loading></ng-template>

</div>
