@import '/src/_custom-variables.scss'

.card
  width: 50%
  margin: 0 auto
  background-color: $english-violet
  margin-top: 2rem
  border: none
  box-shadow: rgb(69, 2, 95) 0px 20px 30px -10px

  .card-body
    display: flex
    flex-direction: row
    justify-content: space-evenly
  .search
    width: 80%
    display: flex
    justify-content: center
    align-items: center
    input
      background-color: #ffffff67
      border: none
      &:focus
        border: 1px solid rgba(255, 208, 0, 0.35)
        box-shadow: 0 0 0 0.2rem rgba(255, 208, 0, 0.15)
    i
      font-size: 1.5rem
      margin-right: .8rem
      color: $hunyadi-yellow
  .add-button
    display: flex
    width: 20%
    align-items: center
    justify-content: center
    button
      border-radius: 5px
      border: none
      height: 100%
      width: 33%
      background-color: $hunyadi-yellow
      transition: .1s
      &:hover
        background-color: $dark-purple
        transition: .1s
        i
          color: $flame
      i
        font-size: 1.5rem
        color: $dark-purple
