@import '/src/_custom-variables.scss'

nav
  .nav-container
    display: flex
    justify-content: space-between
  .navbar-brand
    width: 8%
    overflow: hidden
    img
      max-width: 100%
      height: auto
  ul
    width: 100%
    display: flex
    justify-content: space-around
  .nav-link
    color: $hunyadi-yellow
    font-weight: 500
    display: flex
    width: 10%
    flex-direction: column
    border-radius: 5px
    justify-content: center
    align-items: center
    border: 2px solid $hunyadi-yellow
    i
      font-size: 2rem
    &:hover
      color: #000000
      background-color: $hunyadi-yellow

