<nav class="navbar navbar-expand-lg bg-english-violet">
  <div class="container-fluid nav-container">
    <a class="navbar-brand" href="#">
      <img src="./assets/logo.png" alt="" />
    </a>
    <button class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-2">
        <a class="nav-link" href="#">
          <i class="bi bi-columns-gap"></i>
          Painel</a
        >
        <a class="nav-link" routerLink="/estoque"> <i class="bi bi-box"></i>Estoque</a>
        <a class="nav-link" href="#">
          <i class="bi bi-briefcase"></i>Vendas</a
        >
        <a class="nav-link"> <i class="bi bi-bricks"></i>Obras</a>
        <a class="nav-link" href="#">
          <i class="bi bi-collection"></i>Orçamentos</a
        >
        <a class="nav-link" href="#">
          <i class="bi bi-cash-coin"></i>Financeiro</a
        >
        <a class="nav-link" routerLink="/clientes">
          <i class="bi bi-people"></i>Clientes</a
        >
        <a class="nav-link" href="#">
          <i class="bi bi-truck-flatbed"></i>Fornecedores</a
        >
      </ul>
    </div>
  </div>
</nav>
