<table class="table">
  <thead>
    <tr class="table-head">
      <th scope="col">Qtde.</th>
      <th scope="col">Código</th>
      <th scope="col">Item</th>
      <th scope="col">Tipo</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of itens" class="table-rows">
      <th scope="row">{{item.amount}}</th>
      <td>{{item.code}}</td>
      <td>{{item.name}}</td>
      <td>{{item.type}}</td>
      <td class="action-buttons">
        <button><i class="bi bi-box-arrow-up"></i></button>
        <button><i class="bi bi-plus-square"></i></button>
        <button><i class="bi bi-pencil-square"></i></button>
        <button><i class="bi bi-trash"></i></button>
      </td>
    </tr>
  </tbody>
</table>
