<div class="card">
  <div class="card-body">
    <div class="close-btn">
      <button (click)="onCancel()"><i class="bi-x-lg"></i></button>
    </div>

    <form [formGroup]="form">
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          formControlName="name"
        />
        <label for="floatingInput">Nome do item</label>
      </div>
      <div class="type-amount-container">
        <div class="form-floating">
          <select class="form-select" formControlName="type" id="floatingType">
            <option selected>Selecione o tipo</option>
            <option value="Marmoraria">Marmoraria</option>
            <option value="Vidraçaria">Vidraçaria</option>
          </select>
          <label for="floatingType">Tipo</label>
        </div>
        <div class="form-floating">
          <input
            type="number"
            class="form-control"
            id="floatingAmount"
            formControlName="amount"
          />
          <label for="floatingAmount">Quantidade</label>
        </div>
      </div>
      <div class="action-buttons">
        <button type="button" (click)="onSubmit()"><i class="bi bi-save"></i> Salvar</button>
      </div>
    </form>
  </div>
</div>

<div
  class="toast align-items-center"
  id="toast"
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
>
  <div class="d-flex">
    <div class="toast-body">
      <i class="bi bi-exclamation-circle"></i>
      {{ toastMessage }}
    </div>
  </div>
</div>
