@import '/src/_custom-variables.scss'

.obras-list-container
  width: 80%
  min-height: 300px
  margin: 2rem auto
  border-radius: 5px
  box-shadow: rgb(69, 2, 95) 0px 20px 30px -10px
  background-color: $lavender-blush
