@import '/src/_custom-variables.scss'

.card
  width: 90%
  margin: 2rem auto
  background-color: #dcedf7
  border-radius: 2px
  border-left: 3px solid $vid-blue
  .obra-form
    margin-bottom: 1rem
    h5
      background-color: $vid-blue
      border-radius: 2px
      width: 20%
      padding: .2rem 0
      margin: .5rem auto
      text-align: center
    .type-dates
      width: 100%
      display: flex
      button
        background-color: #ff4343
        transition: .1s ease-in-out
        border-radius: 2px
        &:hover
          background-color: red
          transition: .1s ease-in-out
          i
            color: #fff
        i
          padding: .4rem
          font-size: 1.5rem

      .form-floating
        width: 20%
        margin-right: 2.5rem
        input
          width: 100%
        select
          border: 1px solid $raisin-black
          border-radius: 2px
          &:focus
            border-color: $flame
            box-shadow: none

    .name-address
      width: 100%
      display: flex
      justify-content: space-between
      margin-bottom: 1rem
      .form-floating
        width: 48%
    button
      border: none
    .date-input
      width: 90%
      border: 1px solid $raisin-black
  .add-obra-btn
      margin: 1rem 0 1rem 0
      padding: .4rem
      font-size: 1.2rem
      width: 15%
      display: flex
      justify-content: center
      align-items: center
      border-radius: 2px
      font-weight: 500
      background-color: $flame
      transition: .1s ease-in-out
      border: 1px solid #a03917
      &:hover
        background-color: #a03917
        border-color: $flame
        color: $flame
        transition: .1s ease-in-out
        i
          color: $flame
      i
        font-size: 1.3rem
        margin-right: .6rem
  .form-floating
    width: 100%
    input
      border: 1px solid $dark-purple
      border-radius: 2px
      &:focus
        border: 1px solid $flame
        box-shadow: none
  .number-address
    display: flex
    width: 100%
    justify-content: space-between
    .form-floating
      width: 49%
  .action-buttons
    display: flex
    align-items: center
    justify-content: flex-end
    margin: 0 auto
    margin-top: 1rem
    width: 100%

    button
      border: 1px solid #94681d
      padding: .7rem
      width: 25%
      border-radius: 2px
      background-color: $hunyadi-yellow
      transition: .1s
      font-weight: 400
      &:hover
        background-color: #94681d
        border-color: $hunyadi-yellow
        color: $hunyadi-yellow
        i
          color: $hunyadi-yellow








    h5
      color: $flame
      display: flex
      align-items: center
      button
        background-color: transparent
        border-radius: 50%
        border: none
        margin-left: .3rem
        transition: .1s ease-out
        &:hover
          background-color: #ee552254

        i
          font-size: 2em
          color: $flame
.toast
  top: 80%
  left: 70%
  z-index: 9999
  position: absolute

  background-color: $english-violet
  border-radius: 5px
  box-shadow: rgba(75, 3, 116, 0.5) 0px 10px 36px 0px, rgba(155, 9, 253, 0.280) 0px 0px 0px 1px
  color: $flame
  .toast-body
    font-size: 1.1rem
    width: 100%
    font-weight: 500
