$raisin-black: #221E22;
$dark-purple: #31263E;
$hunyadi-yellow: #ECA72C;
$english-violet: #44355B;
$flame: #EE5622;
$lavender-blush: #ceb6c3;
$vid-blue: #41b4f8;


$theme-colors: (
  "raisin-black": $raisin-black,
  "dark-purple": $dark-purple,
  "english-violet": $english-violet,
  "hunyadi-yellow": $hunyadi-yellow,
  "flame": $flame,
  "lavender-blush": $lavender-blush,
  "vid-blue": $vid-blue


)
